@model Employee
@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<form method="post" action="/Employee/SaveEdit/@Model.Id">

    <div>
        <label>Name</label>
        <input type="text" name="Name" id="Name" value="@Model.Name" class="form-control" />
    </div>
    <div>
        <label>Salary</label>
        <input type="number" name="Salary" id="Salary" value="@Model.Salary" class="form-control" />
    </div>
    <div>
        <label>Address</label>
        <input type="text" name="Address" id="Address" value="@Model.Address" class="form-control" />
    </div>
    <div>
        <label>Image</label>
        <input type="text" name="Image" id="Image" value="@Model.Image" class="form-control" />
    </div>
    <div>
        <label>Department</label>
        <select name="Dept_Id" id="Dept_Id" class="form-control">

            @foreach(Department deptitem in ViewBag.deptList)
            {
                if (Model.Dept_Id == deptitem.Id)
                {
                    <option value="@deptitem.Id" selected>@deptitem.Name</option>
                }
                else
                {
                    <option value="@deptitem.Id">@deptitem.Name</option>
                }
                
            }
        </select>
    </div>

    <input type="submit" value="save" class="btn btn-success" />

</form>